body, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, dl, dd, ol, ul, fieldset, form, menu,
select, textarea, input, button, optgroup {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  background-color: transparent; }

img, input, button {
  border: 0; }

input {
  border-radius: 0; }

input, textarea, select, button,
a:active, a:hover {
  outline: 0; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    border: 0;
    padding: 0; }

textarea {
  overflow: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

td, th {
  padding: 0; }

svg:not(:root) {
  overflow: hidden; }

main {
  display: block; }

body {
  font-family: Tahoma, "Times New Roman", "Bitstream Charter", Times, serif;
  font-size: 18px;
  color: #666666;
  height: 100%; }

a {
  text-decoration: none; }

textarea {
  resize: none; }

.container {
  width: 1200px;
  margin: 0 auto; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

.main-title {
  font-size: 36px;
  text-align: center;
  margin: 20px 0; }

.main-title__card-item {
  font-size: 25px; }

.btn {
  display: block;
  line-height: 32px;
  font-size: 14px;
  text-transform: uppercase; }

.btn-submit {
  background: none;
  border: 1px solid #9dc808;
  color: #9dc808; }

.images {
  text-align: center; }

.header {
  height: 120px;
  background-color: #f7f7f7; }
  .header .header-items-wrapp {
    padding-top: 10px; }
  .header .logo-wrapp {
    float: left;
    margin-right: 100px; }
  .header .cart-wrapp {
    float: right;
    background-color: #dce9af;
    padding: 10px;
    font-size: 14px;
    margin-left: 60px; }
    .header .cart-wrapp a {
      text-transform: uppercase;
      color: #666666;
      display: block;
      text-decoration: none; }
      .header .cart-wrapp a:before {
        content: '';
        display: inline-block;
        background: url(../images/sprite.png) no-repeat;
        background-position: 0 -68px;
        height: 37px;
        width: 35px;
        margin: 0 10px -10px 0; }
      .header .cart-wrapp a:after {
        content: '';
        display: block;
        background-color: #9dc808;
        height: 1px;
        width: 59px;
        margin-left: 46px; }
    .header .cart-wrapp span {
      margin-top: 20px;
      display: block;
      text-align: center; }
  .header .header-center-wrapp {
    overflow: hidden;
    line-height: 26px; }

.contacts-nav li:before {
  margin-right: 20px; }

.contacts-nav li.contacts-nav__address:before {
  content: '';
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  background-position: 0 0;
  height: 21px;
  width: 15px; }

.contacts-nav li.contacts-nav__phone {
  float: left;
  margin-right: 20px; }
  .contacts-nav li.contacts-nav__phone:before {
    content: '';
    display: inline-block;
    background: url(../images/sprite.png) no-repeat;
    background-position: 0 -25px;
    height: 17px;
    width: 17px; }

.contacts-nav li.contacts-nav__urban-phone:before {
  content: '';
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  background-position: -20px -47px;
  height: 17px;
  width: 25px; }

.search-field-wrapp {
  margin-top: 10px; }
  .search-field-wrapp input[type="text"] {
    width: 89%;
    float: left;
    padding: 10px;
    border: 1px solid #ccc; }
  .search-field-wrapp .search-btn {
    padding: 8px 8px 7px;
    border: 1px solid #ccc;
    background-color: #fff; }
    .search-field-wrapp .search-btn span {
      display: block;
      height: 20px;
      width: 20px;
      background: url(../images/sprite.png) no-repeat;
      background-position: 0 -45px; }

.main-nav {
  background-color: #ccc;
  line-height: 50px; }
  .main-nav .menu-main_nav-container:before, .main-nav .menu-main_nav-container:after {
    content: "";
    display: table; }
  .main-nav .menu-main_nav-container:after {
    clear: both; }
  .main-nav .menu-main_nav-container ul:before, .main-nav .menu-main_nav-container ul:after {
    content: "";
    display: table; }
  .main-nav .menu-main_nav-container ul:after {
    clear: both; }
  .main-nav .main-nav__list {
    margin: 0 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .main-nav .main-nav__list:before, .main-nav .main-nav__list:after {
      content: "";
      display: table; }
    .main-nav .main-nav__list:after {
      clear: both; }
    .main-nav .main-nav__list li {
      float: left;
      margin: 0 15px; }
    .main-nav .main-nav__list a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
      color: #666666;
      height: 100%;
      width: 100%;
      padding: 0 5px;
      text-align: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .main-nav .main-nav__list .current-menu-item a {
      background: #fdfdfd;
      background: -webkit-linear-gradient(legacy-direction(#cdcdcd 10%), #fdfdfd 90%);
      background: linear-gradient(#cdcdcd 10%, #fdfdfd 90%);
      border-bottom: 4px solid #9dc808; }

.advantages {
  background-color: #fff;
  margin: 70px 0 0 0; }

.advantages-content {
  margin: 60px 0; }
  .advantages-content:before, .advantages-content:after {
    content: "";
    display: table; }
  .advantages-content:after {
    clear: both; }
  .advantages-content .advantages-content__item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 20%;
    height: 220px;
    padding: 10px;
    text-align: center; }
    .advantages-content .advantages-content__item img {
      margin-bottom: 30px; }
    .advantages-content .advantages-content__item .advantages-content__item-desc {
      text-transform: uppercase;
      display: block;
      margin-top: 20px;
      font-size: 17px; }
    .advantages-content .advantages-content__item .advantages-content__item-desc-m {
      margin-top: -9px; }

.main-content:before, .main-content:after {
  content: "";
  display: table; }

.main-content:after {
  clear: both; }

.left-sidebar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  float: left;
  margin-top: 30px; }
  .left-sidebar .left-sidebar__menu {
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden; }
    .left-sidebar .left-sidebar__menu .menu_layer_0 {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: left; }
    .left-sidebar .left-sidebar__menu > ul > li {
      position: relative; }
      .left-sidebar .left-sidebar__menu > ul > li > a {
        -webkit-box-shadow: 0 1px 0 0 rgba(250, 250, 250, 0.1) inset;
        -moz-box-shadow: 0 1px 0 0 rgba(250, 250, 250, 0.1) inset;
        -ms-box-shadow: 0 1px 0 0 rgba(250, 250, 250, 0.1) inset;
        box-shadow: 0 1px 0 0 rgba(250, 250, 250, 0.1) inset;
        display: block;
        outline: 0;
        padding: .7em 1em;
        text-decoration: none;
        color: #666666;
        font-weight: normal;
        border-bottom: 1px solid #666666;
        cursor: pointer; }
        .left-sidebar .left-sidebar__menu > ul > li > a:hover, .left-sidebar .left-sidebar__menu > ul > li > a :active {
          color: #9dc808; }
      .left-sidebar .left-sidebar__menu > ul > li .menu_layer_1 {
        -webkit-box-shadow: inset 0 0 50px #bbb;
        -moz-box-shadow: inset 0 0 50px #bbb;
        -ms-box-shadow: inset 0 0 50px #bbb;
        box-shadow: inset 0 0 50px #bbb;
        counter-reset: items;
        height: 0;
        overflow: hidden; }
        .left-sidebar .left-sidebar__menu > ul > li .menu_layer_1 > li > a {
          counter-increment: items;
          color: #666666;
          font-size: 12px;
          display: block;
          text-decoration: none;
          padding: .7em 1em; }
          .left-sidebar .left-sidebar__menu > ul > li .menu_layer_1 > li > a:hover, .left-sidebar .left-sidebar__menu > ul > li .menu_layer_1 > li > a :active {
            background: #d8d8d8;
            color: #9dc808; }

.woocommerce-pagination {
  margin: 0 250px; }

.page-numbers {
  color: #666666; }
  .page-numbers:before, .page-numbers:after {
    content: "";
    display: table; }
  .page-numbers:after {
    clear: both; }
  .page-numbers li {
    float: left;
    margin: 0 15px; }
    .page-numbers li .current {
      color: #9dc808; }
    .page-numbers li .next, .page-numbers li .prev {
      height: 0;
      width: 0;
      display: block;
      border-bottom: 10px solid transparent;
      border-top: 10px solid transparent; }
    .page-numbers li .next {
      border-left: 14px solid #9dc808; }
    .page-numbers li .prev {
      border-right: 14px solid #9dc808; }

.filter {
  margin-top: 50px; }
  .filter p {
    padding: .7em 1em; }
  .filter .choice-drop {
    border: none;
    border-bottom: 1px solid #666666;
    padding: .7em 1em;
    width: 100%;
    font-family: Tahoma, "Times New Roman", "Bitstream Charter", Times, serif;
    font-size: 18px;
    color: #666666;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .filter select::-ms-expand {
    display: none; }
  .filter input[type="submit"] {
    padding: 5px 15px;
    margin: 10px auto;
    background-color: #e7e7e7;
    color: #666666;
    display: block;
    line-height: 32px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: Helvetica Neue, Helvetica, Arial; }

.price-loop-wrapp {
  background-color: #e7e7e7;
  padding: 10px; }
  .price-loop-wrapp input {
    width: 35%;
    margin-left: 10px;
    display: inline-block;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.content-right__row {
  margin: 0 0 19px 0; }
  .content-right__row:before, .content-right__row:after {
    content: "";
    display: table; }
  .content-right__row:after {
    clear: both; }

.content-right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: 75%;
  padding: 25px 15px; }
  .content-right:before, .content-right:after {
    content: "";
    display: table; }
  .content-right:after {
    clear: both; }
  .content-right .main-title {
    margin: 15px 0;
    clear: both; }
  .content-right .content-right__item {
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 277px;
    height: 475px;
    float: left;
    margin: 0 19px 0 0;
    border: 1px solid #666666;
    padding: 15px 0 0 0;
    text-align: center;
    overflow: hidden; }
    .content-right .content-right__item:hover .bottom-hidden {
      height: 128px;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
    .content-right .content-right__item .bottom {
      position: absolute;
      bottom: 0;
      min-height: 100px;
      min-width: 93%;
      margin-top: 15px;
      background-color: #e7e7e7;
      padding: 10px; }
      .content-right .content-right__item .bottom p {
        text-align: left;
        margin-top: 15px; }
      .content-right .content-right__item .bottom .bottom-title {
        text-align: left;
        font-size: 18px; }
      .content-right .content-right__item .bottom .bottom-price {
        font-weight: 900; }
    .content-right .content-right__item .bottom-hidden {
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      width: 93%;
      background-color: #e7e7e7;
      position: absolute;
      bottom: -10px;
      height: 0;
      padding: 10px; }
  .content-right .bottom-hidden-btn {
    background-color: #9dc808;
    color: #fff;
    width: 100%;
    margin-bottom: 10px; }
  .content-right .bottom-hidden-btn-next {
    background: none;
    color: #9dc808;
    border: 1px solid #9dc808; }
  .content-right .content-right__item-last {
    margin-right: 0; }
  .content-right .content-right__text {
    clear: both;
    display: block;
    margin: 0 14px 80px 14px;
    padding-top: 40px; }
  .content-right .content-right__row-services {
    margin-bottom: 40px;
    position: relative;
    padding-left: 170px; }
    .content-right .content-right__row-services h2 {
      margin-bottom: 20px; }
    .content-right .content-right__row-services p span {
      font-weight: 800; }
    .content-right .content-right__row-services:before {
      content: '';
      display: block;
      position: absolute;
      background: url(../images/sprite-services.png) no-repeat;
      left: 0;
      top: 60px; }
  .content-right .content-right__row-sample:before {
    width: 143px;
    height: 139px;
    background-position: 0 0; }
  .content-right .content-right__row-delivery:before {
    width: 150px;
    height: 100px;
    background-position: 0 -153px; }
  .content-right .content-right__row-install:before {
    width: 150px;
    height: 150px;
    background-position: 0 -277px; }
  .content-right .content-right__row-stock {
    margin-bottom: 40px;
    position: relative;
    padding-left: 300px; }
    .content-right .content-right__row-stock h2 {
      margin-bottom: 20px; }
    .content-right .content-right__row-stock p {
      font-size: 16px; }
    .content-right .content-right__row-stock:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 8px; }
  .content-right .content-right__row-stock:before {
    background: url(../images/stock.jpg) no-repeat;
    height: 192px;
    width: 284px; }

.content-right-first {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 35%;
  float: left;
  padding: 0 15px; }

.content-right-second {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 65%;
  padding: 0 15px;
  float: left; }

.card-item-description tr {
  border: 1px solid #ccc; }
  .card-item-description tr td {
    padding: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  .card-item-description tr td:nth-child(2n) {
    text-align: right; }

.card-item-description tr:nth-child(2n) {
  background-color: #e7e7e7; }

.card-item-description-text {
  margin: 15px 0;
  line-height: 30px;
  font-size: 15px; }

.choice-box {
  background-color: #e7e7e7;
  padding: 15px; }
  .choice-box .choice-box__row:before, .choice-box .choice-box__row:after {
    content: "";
    display: table; }
  .choice-box .choice-box__row:after {
    clear: both; }
  .choice-box .choice-box__row .choice-box__row-text {
    float: left; }
    .choice-box .choice-box__row .choice-box__row-text p:first-child {
      margin-bottom: 10px; }
  .choice-box .choice-box__row .choice-box__row-radio div:first-child {
    margin-bottom: 10px; }

.price-container:before, .price-container:after {
  content: "";
  display: table; }

.price-container:after {
  clear: both; }

.price-container h2 {
  float: left;
  text-align: left;
  margin-top: 15px; }

.price-container .btn-container {
  float: right; }
  .price-container .btn-container .btn {
    background-color: #9dc808;
    color: #fff;
    padding: 0 25px;
    width: 100%;
    margin: 15px 0; }

.content-right-page-works .content-right__item {
  height: 525px;
  color: #666666; }
  .content-right-page-works .content-right__item:hover .bottom {
    background: #e7e7e7; }

.content-right-page-works img {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0; }

.content-right-page-works .bottom {
  position: absolute;
  bottom: 0;
  background: rgba(231, 231, 231, 0.5);
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s; }

.table-cart__wrapp {
  background-color: #e7e7e7;
  padding: 10px; }

.table-cart {
  border: 0; }
  .table-cart tr:first-child {
    border-bottom: 2px solid #fff; }
  .table-cart tr td {
    padding: 10px 0; }
    .table-cart tr td a {
      color: #666666;
      text-decoration: underline; }
  .table-cart tr .btn-del-row {
    color: #cc3333;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 18px;
    background: none; }
  .table-cart tr input[type="number"] {
    padding: 10px; }
  .table-cart tr input::-webkit-outer-spin-button,
  .table-cart tr input::-webkit-inner-spin-button {
    display: block; }

.cart-bottom {
  width: 100%;
  margin-top: 15px; }
  .cart-bottom .cart-bottom__text {
    float: left; }
  .cart-bottom .cart-bottom__btn-buy {
    float: right; }
    .cart-bottom .cart-bottom__btn-buy .btn-buy {
      border: 2px solid #9dc808;
      color: #9dc808;
      padding: 0 25px; }

.get-question-wrapp {
  padding: 0 100px; }
  .get-question-wrapp .cart-bottom__text {
    float: left;
    margin-bottom: 15px; }

.contacts-col-wrapp {
  width: 100%; }
  .contacts-col-wrapp:before, .contacts-col-wrapp:after {
    content: "";
    display: table; }
  .contacts-col-wrapp:after {
    clear: both; }
  .contacts-col-wrapp .contacts-col {
    float: left;
    width: 33%;
    padding: 0 15px 0 55px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .contacts-col-wrapp .contacts-col:before {
      content: '';
      display: block;
      background: url(../images/sprite.png) no-repeat;
      position: absolute;
      left: 0; }
  .contacts-col-wrapp .contacts-col-address:before {
    height: 40px;
    width: 30px;
    background-position: 0 -106px;
    left: 15px; }
  .contacts-col-wrapp .contacts-col-phone:before {
    height: 40px;
    width: 40px;
    background-position: 0 -147px;
    left: 10px; }
  .contacts-col-wrapp .contacts-col-email:before {
    height: 35px;
    width: 49px;
    background-position: 0 -189px; }

.map {
  margin: 15px auto;
  text-align: center; }

.bottom-text {
  margin: 20px 0; }

.quantity input[type="number"] {
  padding: 10px;
  background-color: #e7e7e7;
  margin: 10px 0;
  width: 30%; }

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: #9dc808 !important; }

.popup-box {
  position: absolute;
  border-radius: 5px;
  background: #e7e7e7;
  display: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  z-index: 9999999;
  font-size: 14px;
  text-align: center; }
  .popup-box .btn {
    background: none;
    color: #9dc808;
    border: 1px solid #9dc808;
    text-align: center;
    margin: 10px 0; }
  .popup-box .btn-submit {
    margin: 10px auto;
    padding: 0 25px; }
  .popup-box .modal-input {
    display: block;
    padding: 5px 10px;
    margin: 10px auto; }
  .popup-box .close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: #cc3333;
    padding: 20px;
    font-size: 20px; }
    .popup-box .close:hover {
      color: #000; }
  .popup-box h2 {
    padding: 0;
    margin: 0;
    font-size: 18px; }
  .popup-box .top {
    padding: 20px; }
  .popup-box .bottom {
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

#blackout {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 999999;
  left: 0;
  display: none; }

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
  padding: 5px 10px !important;
  background-color: #f7f7f7 !important; }

.footer {
  background-color: #f7f7f7;
  padding: 30px 0; }
  .footer:before, .footer:after {
    content: "";
    display: table; }
  .footer:after {
    clear: both; }
  .footer h6 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal; }
  .footer .footer-col {
    width: 30%;
    float: left; }

.footer-col-form {
  width: 40%;
  float: left; }

.get-question {
  width: 100%; }
  .get-question input[type="text"], .get-question textarea {
    padding: 5px 10px;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .get-question .input-container {
    width: 50%;
    float: left;
    padding: 0 15px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .get-question .input-container:before, .get-question .input-container:after {
      content: "";
      display: table; }
    .get-question .input-container:after {
      clear: both; }
  .get-question input[type="text"] {
    display: block;
    width: 100%;
    margin-bottom: 15px; }
  .get-question textarea {
    width: 50%;
    font-size: 14px;
    height: 70px; }
  .get-question .btn {
    clear: both;
    margin: 0 auto;
    padding: 0 15px; }
